<div class="ui secondary menu">
<div class="item">
  <%= link_to 'Home', root_path %>
</div>
<div class="item">
  <%= link_to 'Posts', posts_path %>
</div>
<div class="item">
  <%= link_to 'Bio', bio_path([:id]) %>
</div>
<div class="right menu">
  <div class="ui item">
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  </div>
</div>
</div>